:root {
  --primary-black: #212529;
  --light-blue: #3878af;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --grotesk-font: "Schibsted Grotesk", sans-serif;
}

.intro-container {
  padding-top: 80px;
  padding-bottom: 200px;
}
.intro-content {
  max-width: 400px;
}
.about-container {
  padding-top: 40px;
}
.about-content {
  max-width: 400px;
  margin: 3rem;
}

h1 {
  font-family: var(--grotesk-font);
  font-size: 50px;
  font-weight: 700;
}
h2 {
  font-family: var(--grotesk-font);
  font-weight: 600;
}

.projects-header {
  font-size: 40px;
}

.intro-description,
.about-description {
  font-size: 25px;
}
a.in-link {
  color: var(--primary-black);
  font-size: 25px;
  margin-right: 10px;
}
a.in-link:hover {
  color: var(--light-blue);
}

.see-proj-btn {
  border-radius: 4px;
  padding: 15px 20px;
  color: white;
  background-color: var(--primary-black);
  border: none;
  font-family: var(--grotesk-font);
  opacity: 0.8;
}
.see-proj-btn:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  color: white;
  transition: all 100ms ease-in-out;
}

.skillset-container {
  font-size: 20px;
}
.dev-logo {
  margin: 0 10px;
  font-size: 22px;
}
.fa-html5 {
  color: #e44d25;
}
.fa-css3-alt {
  color: #016bc1;
}
.fa-square-js {
  color: #e4a125;
}

.pfp {
  max-width: 300px;
}

.project-img {
  box-shadow: var(--box-shadow);
}
.project-link {
  color: var(--primary-black);
}
.project-link:hover {
  color: var(--light-blue);
}
.stack-used {
  margin: 0 14px;
}

@media (max-width: 767px) {
  .intro-container {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  h1 {
    font-size: 38px;
  }
  .intro-description {
    font-size: 20px;
  }
  .intro-content {
    text-align: center;
  }
  a.in-link {
    margin: 0 5px;
  }
  .skillset-container {
    font-size: 18px;
  }
  .dev-logo {
    margin: 0 5px;
  }
  .about-container {
    padding-top: 80px;
  }
  .about-content {
    text-align: center;
    margin: 0;
  }
}
