:root {
  --primary-black: #212529;
  --light-blue: #3878af;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.intro-container {
  padding-top: 80px;
  padding-bottom: 100px;
}
.intro-content {
  max-width: 400px;
}

h1 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 50px;
}

.intro-description {
  font-size: 25px;
}
a.in-link {
  color: var(--primary-black);
  font-size: 25px;
  margin-right: 10px;
}
a.in-link:hover {
  color: var(--light-blue);
}

.skillset-container {
  font-size: 20px;
}
.dev-logo {
  margin: 0 10px;
  font-size: 22px;
}
.fa-html5 {
  color: #e44d25;
}
.fa-css3-alt {
  color: #016bc1;
}
.fa-square-js {
  color: #e4a125;
}

.pfp {
  max-width: 300px;
}

.project-img {
  box-shadow: var(--box-shadow);
}

.project-link {
  color: var(--primary-black);
}
.project-link:hover {
  color: var(--light-blue);
}

@media (max-width: 767px) {
  .intro-content {
    text-align: center;
  }
}
