:root {
  --primary-black: #212529;
  --lighter-black: #535c64;
}

.intro-content {
  max-width: 400px;
}

h1 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 50px;
}

.intro-description {
  font-size: 25px;
}

a.in-link {
  color: var(--primary-black);
  font-size: 25px;
  margin-right: 10px;
}

a.in-link:hover {
  color: var(--lighter-black);
}

.skillset-container {
  font-size: 20px;
}

.dev-logo {
  color: var(--primary-black);
  margin: 0 10px;
}

.pfp {
  max-width: 300px;
}

@media (max-width: 767px) {
  .intro-content {
    text-align: center;
  }
}
